{% extends 'base.html' %} {% block body %} {% load bootstrap4 %}

<div
  class="hero-wrap hero-wrap-2"
  style="background-image: url('images/bg_1.jpg')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-end justify-content-start"
    >
      <div class="col-md-12 ftco-animate text-center mb-5">
        <p class="breadcrumbs mb-0">
          <span class="mr-3"
            ><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a
          ></span>
          <span>About</span>
        </p>
        <h1 class="mb-3 bread">Browse Jobs</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 pr-lg-4">
        <div class="row">
          {% for job in jobs %}

          <div class="col-md-12 ftco-animate">
            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
              <div class="one-third mb-4 mb-md-0">
                <div class="job-post-item-header align-items-center">
                  <span class="subadge">{{job.jobType}}</span>

                  <h2 class="mr-3 text-black">
                    <a href="{% url 'jobs:job_detail' job.slug %}">{{job}}</a>
                  </h2>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3">
                    <p>Date Line {{job.published_at|date:'d M o'}}</p>
                  </div>
                  <div>
                    <span class="icon-my_location"></span>
                    <span>Western City, UK</span>
                  </div>
                </div>
              </div>

              <div
                class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0"
              >
                <div>
                  <a
                    href="#"
                    class="icon text-center d-flex justify-content-center align-items-center icon mr-2"
                  >
                    <span class="icon-heart"></span>
                  </a>
                </div>
                <a
                  href="{% url 'jobs:job_detail' job.slug %}"
                  class="btn btn-primary py-2"
                  >Apply Job</a
                >
              </div>
            </div>
          </div>
          <!-- end -->

          {% endfor %}
				</div>
				{% if jobs.has_other_pages %}
				
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                {% if jobs.has_previous %}
                <li>
                  <a href="?page={{jobs.previous_page_number}}">
                    <i class="ti-angle-left"></i>&lt;
                  </a>
                </li>
								{% endif %} {% for i in jobs.paginator.page_range %}
								 {% if jobs.number == i %}
                <li class="active">
                  <span>{{ i }} </span>
                </li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %} {% endfor %} {% if jobs.has_next %}
                <li>
                  <a href="?page={{jobs.next_page_number}}">
                    <i class="ti-angle-right"></i>&gt;
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
				</div>
				{% endif %}
				
			</div>
			
      <div class="col-lg-3 sidebar">
        <div class="sidebar-box bg-white p-4 ftco-animate">
          <h3 class="heading-sidebar">Browse Category</h3>
         
          <form action="#" class="browse-form">
            {% csrf_token %} {% bootstrap_form myfilter.form %} {%buttons%}
            <button class="btn btn-primary py-3 w-100" type="submit">Apply Now</button>
            {%endbuttons%}
            
          </form>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div
          class="col-md-7 text-center heading-section heading-section-white ftco-animate"
        >
          <h2>Subcribe to our Newsletter</h2>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in
          </p>
          <div class="row d-flex justify-content-center mt-4 mb-4">
            <div class="col-md-12">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter email address"
                  />
                  <input type="submit" value="Subscribe" class="submit px-3" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
